
.jsfinspect-inspector {
    
    position: absolute;
    top:0;
    left:0;
    width:50px;
    height:15px;
    background-color: #ffcc00;
    font-family: Arial, Verdana, sans-serif;
    font-size:8pt;
    padding:5px;
    
}