
.jsfinspector-component {
    font-family: Arial, Verdana, sans-serif !important;
    font-size:8pt !important;
    padding:5px !important;
    
}

.jsfinspector-component-heading {
    background-color: #ffcc00;
    font-weight:bold;
    text-align:center;
    padding: 5px;
}

.jsfinspector-tree-content {
}

.jsfinspector-tree table {
    
    border: 1px solid #000;
    padding: 3px;
    margin-top:10px;
    background-color:#fff;
    width: 50%;
}

.jsfinspector-tree td {
    padding:3px;
}

.jsfinspector-tree thead td {
    text-align: center;
    font-weight:bold;
    color:#fff;
    background-color: #000;
}

.jsfinspector-tree tfoot {
    font-weight: bold;
    background-color: #ffcc00;
}

.jsfinspector-tree .evenRow {
    background-color: #fff;
}

.jsfinspector-tree .oddRow {
    background-color: #cdcdcd;
}

.jsfinspector-phaseresults {
    width:100%;
}

.jsfinspector-phaseresults thead td {
    height: auto;
}

.jsfinspector-phaseresults td {
    height:50px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    
}

.jsfinspector-phaseresults td.passed {
    background-color: #007b17;
}

.jsfinspector-phaseresults td.skipped {
    background-color: #aaa;
}

.jsfinspector-phaseresults td.validation_error {
    background-color: #cc0033;
}

.jsfinspector-highlight {
    border: 2px dashed #f00;
}

