
.jsfinspector-inspector {
    font-family: Arial, Verdana, sans-serif;
    font-size:8pt;
    padding:5px;
    
}

#jsfinspector-inspector-heading {
    background-color: #ffcc00;
    width: 60px;
    height: 15px;
    position:absolute;
    top:0;
    left:0;
    font-weight:bold;
    text-align:center;
}

#jsfinspector-inspector-content {
    display:none;
}
.jsfinspector-inspector table {
    
    border: 1px solid #000;
    padding: 3px;
    margin-top:10px;
    background-color:#fff;
    width: 50%;
}

.jsfinspector-inspector td {
    padding:3px;
}

.jsfinspector-inspector thead td {
    text-align: center;
    font-weight:bold;
    color:#fff;
    background-color: #000;
}

.jsfinspector-inspector tfoot {
    font-weight: bold;
    background-color: #ffcc00;
}

.jsfinspector-inspector .evenRow {
    background-color: #fff;
}

.jsfinspector-inspector .oddRow {
    background-color: #cdcdcd;
}

.jsfinspector-phaseresults thead td {
    height: auto;
}

.jsfinspector-phaseresults td {
    height:50px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    
}

.jsfinspector-phaseresults td.passed {
    background-color: #007b17;
}

.jsfinspector-phaseresults td.skipped {
    background-color: #aaa;
}

.jsfinspector-phaseresults td.validation_error {
    background-color: #cc0033;
}

.jsfinspector-highlight {
    border: 2px dashed #f00;
}

